/* Fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Electrolize', sans-serif;
}
p {
    font-family: 'Lato', sans-serif;
}

/* Root Variable */
:root {
    --color-main: rgb(6, 57, 108);
    --color-main-75: rgba(6, 57, 108, 0.75);
}

/* Basic Style */
.text-main-c {
    color: var(--color-main);
}

.bg-main-c {
    background-color: var(--color-main);
}

.big-fs {
    font-size: 110px;
}

/* Header */
.header-bg {
    background: linear-gradient(var(--color-main-75), var(--color-main-75)), url(./media/header.jpg), no-repeat;
    background-position: center;
    height: 90vh;
}

/* Navbar */
.nav-bg {
    background-color: var(--color-main);
    height: 100px;
}

.nav-img {
    margin-left: 50px;
    margin-right: 15px;
    height: 50px;
}

.nav-link {
    margin: 0px 10px;
    border-left: 3px solid white;
    padding: 0px 30px;
}

/* Second Header */
.Second-Header-bg {
    background: linear-gradient(var(--color-main-75), var(--color-main-75)), url(./media/power-plant.jpg);
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: cover;
    height: 60vh;
}

/* Second Section */
.blue-article {
    background-color: var(--color-main);
    border: 5px solid white;
    top: -17%;
    left: 0px;
}

    /* Image inside blue-article */
    .blue-article img {
        height: auto;
        width: 70%;
        margin-left: 15%;
    }

.white-article {
    z-index: 2;
    width: 43%;
    background-color: white;
    padding-left: 72px;
    margin-left: 0px;
}

/* Third Section */
.btn-main {
    background-color: var(--color-main);
    color: white;
    border: unset;
    margin: 0 auto;
    padding: .5rem 4rem;
}

/* Fourth Section */
.card-1, .card-2, .card-3, .card-4 {
    height: 250px;
    position: relative;
    background: linear-gradient(to right, rgba(61, 92, 148, 0.6), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
    /* Card Text */
    .card-1 > div, .card-2 > div, .card-3 > div, .card-4 > div {
        position: absolute;
        top: 60px;
        left: 45px;
    }
    /* Card Decoration */
    .card-1::before, .card-2::before, .card-3::before, .card-4::before {
        content: "";
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    /* Card 1 Background */
    .card-1::before {
        background: url(https://picsum.photos/700/400) center top no-repeat;
    }
    /* Card 2 Background */
    .card-2::before {
        background: url(https://picsum.photos/700/401) center top no-repeat;
    }
    /* Card 3 Background */
    .card-3::before {
        background: url(https://picsum.photos/700/402) center top no-repeat;
    }
    /* Card 4 Background */
    .card-4::before {
        background: url(https://picsum.photos/700/403) center top no-repeat;
    }